*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgreen;
}

nav{
    background-color: brown;
    display: flex;
    margin-bottom: 2em;
    padding: 1em;
    color: burlywood;
    font: 2em serif;
    font-weight: bold;
}
.projets{
    margin: 0 10%;
    width: 80%;
    
}

.projetLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 9, 9);
    margin: 1em 0;
}

.info{
    background-color: ivory;
    width: 20%;
    padding: 2em;  

}

.projet{
    background-color: darkviolet;
    width: 20%;
    height: 200%;
    padding:5em;
    text-align: center;
    align-items: center;
    border-radius: 0.5em;
}


h2{
   text-align: center; 
   font-size: xx-large;
   color: honeydew;

}
.competency{ 
    display: flex;
    justify-content: center;
    
}
.html{
    background-color: hotpink;
    text-align: center;
    width: 20%;
    margin: 2em auto;
    border-radius: 2em;
    padding: 1em;

}
.css{
    background-color: hotpink;
    text-align: center;
    width: 20%;
    margin: 2em auto;
    border-radius: 2em;
    padding: 1em;

}
.php{
    background-color: hotpink;
    text-align: center;
    width: 20%;
    margin: 2em auto;
    border-radius: 2em;
    padding: 1em;
}

